<nav class="navbar bg-body-tertiary">
  <div class="container-sm">
    <a class="navbar-brand" href="/"><h1>Fruit crush!</h1> </a>
    <span class="navbar-text">
      Click fruit to get score. Align multiple fruits at the same time to get a
      bigger score multiplier.
    </span>
  </div>
</nav>
