<section class="container-sm">
  <table class="table position-absolute top-50 end-0 translate-middle-y w-25">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>999</td>
      </tr>
    </tbody>
  </table>
</section>
