<section class="container-sm">
  <table class="table position-absolute top-50 end-0 translate-middle-y w-25">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody id="scoreTbody">
      <!-- <tr>
        <th scope="row" id="row-1">1</th>
        <td>10</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-2">2</th>
        <td>9</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-3">3</th>
        <td>8</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-4">4</th>
        <td>7</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-5">5</th>
        <td>6</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-6">6</th>
        <td>5</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-7">7</th>
        <td>4</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-8">8</th>
        <td>3</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-9">9</th>
        <td>2</td>
        <td>Username</td>
      </tr>
      <tr>
        <th scope="row" id="row-10">10</th>
        <td>1</td>
        <td>Username</td>
      </tr> -->
    </tbody>
  </table>
</section>
