<table class="table w-25">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody id="scoreTbody">
    <tr id="row-1"></tr>
    <tr id="row-2"></tr>
    <tr id="row-3"></tr>
    <tr id="row-4"></tr>
    <tr id="row-5"></tr>
    <tr id="row-6"></tr>
    <tr id="row-7"></tr>
    <tr id="row-8"></tr>
    <tr id="row-9"></tr>
    <tr id="row-10"></tr>
  </tbody>
</table>
