<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="container-fluid">
    <div class="buttonWrapper">
      <div class="row">
        <div class="col-8">
          <button id="startGame" class="button-24 mt-5 text-center">
            Start game
          </button>
          <p class="text p-3 rounded-1">
            <b class="text-decoration-underline">How to play</b><br />
            Click fruit to pop them. Connect more than three fruits of the same
            type to get score. The more fruits you pop the more score you get.
          </p>
          <form>
            <div class="mb-3 pb-3">
              <label for="gameUsername" class="form-label fs-4">Username</label>
              <input
                type="text"
                class="form-control"
                id="gameUsername"
                aria-describedby="gameUsernameHelp"
              />
              <div id="gameUsernameHelp" class="form-text">
                Give your game a unique name. This name will display on the
                scoreboard.
              </div>
            </div>
          </form>
        </div>
        <div class="col-2 me-2">
          <p class="fs-5 text-center text-nowrap mt-5">Top Scores</p>

          <%- include('./partials/scoreTable.ejs') %>
        </div>
      </div>
    </div>

    <div></div>
    <main
      class="container-sm gap-0 text-center"
      style="max-width: 800px"
    ></main>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
