<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="container-fluid">
    <div class="row">
      <h2 class="text-bg-warning pt-3 pb-3 text-center">
        Score is <i class="fs-1" id="gameScore"> 0</i>
      </h2>
    </div>

    <div class="buttonWrapper">
      <div class="row row-cols-1">
        <button id="startGame" class="button-24">Start game</button>
        <p class="text p-3 rounded-1">
          <b class="text-decoration-underline">How to play</b><br />
          Click fruit to pop them. Connect more than three fruits of the same
          type to get score. The more fruits you pop the more score you get.
        </p>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>

    <main class="parentContainer d-none">
      <div id="gridWrapper">
        <div id="row1"></div>
        <div id="row2"></div>
        <div id="row3"></div>
        <div id="row4"></div>
        <div id="row5"></div>
        <div id="row6"></div>
        <div id="row7"></div>
        <div id="row8"></div>
        <div id="row9"></div>
        <div id="row10"></div>
        <div id="row11"></div>
        <div id="row12"></div>
      </div>
    </main>
    <%- include('./partials/scoreTable.ejs') %>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
