<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fruit Crush</title>
        <link rel="stylesheet" href="materialize/css/materialize.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <h1 class="">
                Fruit Crush <br /><button type="button" class="">Start!</button>
                <h2 id="score" class="">Score: 0</h2>
            </h1>
        </div>
        <main class="container">
            <div id="gridWrapper">
                <div id="row1"></div>
                <div id="row2"></div>
                <div id="row3"></div>
                <div id="row4"></div>
                <div id="row5"></div>
                <div id="row6"></div>
                <div id="row7"></div>
                <div id="row8"></div>
                <div id="row9"></div>
                <div id="row10"></div>
                <div id="row11"></div>
                <div id="row12"></div>
            </div>
        </main>
        
        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/gsap.min.js"></script>
        <script src="./materialize/js/materialize.js"></script>
        <script type="module" src="/js/game.js"></script>
    </body>
</html>