<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="container-fluid">
    <section id="gameScoreDisplay" class="row d-none">
      <h2 class="text-bg-warning pt-3 pb-3 text-center">
        Score is <i class="fs-1" id="gameScore"> 0</i>
      </h2>
    </section>

    <main class="container-sm gap-0 text-center" style="max-width: 800px">
      <section id="landingPage" class="col-12">
        <div class="row"><%- include('./partials/landingPage.ejs') %></div>
      </section>
      <section id="gameContainer" class="row g-0 d-none">
        <div id="gridWrapper" class="col-md-10 col-12">
          <div id="row1"></div>
          <div id="row2"></div>
          <div id="row3"></div>
          <div id="row4"></div>
          <div id="row5"></div>
          <div id="row6"></div>
          <div id="row7"></div>
          <div id="row8"></div>
          <div id="row9"></div>
          <div id="row10"></div>
          <div id="row11"></div>
          <div id="row12"></div>
        </div>
        <div class="col-md-2 col-12">
          <%- include('./partials/scoreTable.ejs') %>
        </div>
      </section>
    </main>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
