/* main {
	width: 30dvh;
	background: purple;
	height: 65dvh;
	margin: auto;
	width: 50%;
	border: 1rem solid paleturquoise;
	padding: 3rem;
} */
img {
	z-index: 99;
	width: 5dvh;
}
.container-sm {
	margin-top: 1rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	border: 5px solid paleturquoise;
}
.d-flex {
	margin-top: 1rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	border: 5px solid paleturquoise;
}
.col {
	width: 6rem;
	height: 5rem;
}
.unclickable-element {
	pointer-events: none;
}
